.page_wrap{
width:90%;
height: auto;
font-weight: 16px;
background:gray;	
}
.heading {
	width:100%;
	height:100px;
	background:#95E9F1;
}
.heading h1{
	color:#F20FCF;
	float: left;
	padding-left:10%;

}
.heading h2{
	color:green;
	padding-left:50%;
	padding-top:40px;
}