/*-------registration form style--*/
*{margin:0px; padding:0px;outline:0px}
body{
	background: #BED3B4 none repeat scroll 0 0;
	line-height: 18px;
	font-style: arial;
	font-size: 16px;
}
.page-wrap
{
	margin:0px auto;
	width:80%;
	background:url(images/bg.png) repeat fixed 0 0 #fff;
	max-width:1200px;
	padding: 0 2%;
	height:auto

}
.form{
	margin:0px auto;
	margin:20%;
}
table #reg{
	color: #C0477D;
	font-size:25px;
}
table td{
	color: blue;
}
table input[type="text"], input[type="email"], input[type="password"]{
	margin-left:5px;
	width:200px;
	height:20px;
	border-radius:7px;
}
table input[type="submit"]{
	color:#E69D46;
	border-radius: 10px;
	width:65px;
	height:40px;
	font-size:16px;
}
table input[type="submit"]:hover{
color:red;
background:#A6E18F;
}
/*----------index.php-------------------------------*/
.head{
	background:#41DAD8 none repeat scroll;
	width:100%;
	height:220px;
	overflow:hidden;
}
.logo
{
	margin-top:5px;
	float: left;
	margin-left:5px;
}
.name
{
	float:left;
	padding:70px 30px;

	color: #F41A8B;
	font-size:20px;
	font-style:italic;
	overflow:hidden;
}
/*-------search style--------*/
.search
{
	float:left;
	margin-top:75PX;
	padding-right:30px;
	overflow: hidden;
}
.search #searchh{
	width:200px;
	height:30px;
	border-radius:4px;
	padding-left: 7px;
	float:left;
}
.search #ok{
	width:50px;
	height:40px;
	border-radius:9px;
	color:#3131EA;
}
.search #ok:hover{
	color:#F47518;
	background:#FFF;
}
/*--------login style--------*/
.login label{
	color:blue;
	font-size:16px;
	padding-right:5px;
}
.login form{
	padding-top:10px;
	overflow: hidden;

}
.login input[type="text"],input[type="password"]{
	width:180px;
	height:10px;
	border-radius:5px;
	color:gray;
	margin-bottom: 5px;
	padding:10px;

}

.login input[type="submit"]{
	width:65px;
	cursor:pointer;
	height:40px;
	border-radius:7px;
	color:blue;
	font-size:16px;
	clear:both;
	margin-top:5px;
	margin-left:130px;
}
.login input[type="submit"]:hover{
color:red;
background:#FFF;
}
.login #new-account{
text-decoration: none;
font-size:16px;
cursor:pointer;
color:#7C7777;
padding-left:30px;
padding-bottom:10px;
}
.login #new-account:hover{
	color:blue;
	text-decoration:underline;
	
}
/*-------Top Menu-------------------*/
.top-menu li ul { display:none;}                       /*--for hiding dropdown menu item --*/

.top-menu li:hover ul{ display:block;}           /*--for showing dropdown menu item (hover)--*/

.top-menu ul{padding: 0px; }                          /*--for stright below menu item--*/

.top-menu li{ display:block;                              /*--for removing bullets--*/
float:left;                                       /*--for horizontal line--*/
width:150px;                                /*--for menu width--*/
background-color:pink;            /*--for normal background--*/
text-align:center;}                       /*--for text alignment--*/

.top-menu a{ text-decoration:none; 
clear: both;               /*--for removing underline from link--*/
font-family:verdana;  
text-transform:uppercase;
font-weight: bold;                /*--for font style--*/
display:block;                               /*--for link to cover menu width--*/
padding:15px;}  
.top-menu a.home{
	color: #08F635;
	}                             /*--for padding menu item (link)--*/

.top-menu li a:hover{ color:lime;                       /*--for hover text color--*/
background-color:red;}            /*--for hover background color--*/

.top-menu{
	width: 700px;
	height:50px;                         /*--please select hide and width as you need--*/
margin-left:25%;
margin-top:10px;
border-radius:10px;
overflow:hidden;
}   
.top-menu a:after{
	color:green;
}
.dropdown{

	margin-top:100px;
	width:300px;
	height:150px;
	float:left;
	background:#7EA89E;
	text-align:center;
	padding-top:20px;
}
.dropdown h2{
	text-transform:uppercase;
	font-size:25px;
	color:#85F814;
	text-align:center;
	padding-bottom:10px;
}
.dropdown ul li{
	list-style-type:none;
}
.dropdown ul li a{
	text-decoration: none;
	color:#0F15F4;
}
.dropdown a:hover{
	color:red;
	background:#FFF;
}
/*.images-slide{
	margin-top:70px;
}
.images-slide li{
	float:left;
	width:60%;
	list-style-type: none;
	padding-left:20px;
}
.images-slide li:nth-child(2){
	margin:0 2%;
}
.images-slide:after{
	clear: both;
	content:"";
	display:block;
}
 
.headding{
	float: right;
	width: 200px;
	height:300px;
	border:1px solid yellow;
	background:#827F8F; 
	margin-top:50px;
}
.headding marquee{
	font-size:15px;
	font-family: arial;
	color:#580FDD;
	padding:5px 5px;
	text-align: center;
}
.headding h1{
	text-align: center;
	background: #7A747B;
	font-size:25px;
	padding-top:5px;
	color: red;
}*/
.paragraph{
	width:800px;
	margin: 0 auto;
	clear: both;
	padding-top:20px;
	border:1px solid yellow;
	overflow: hidden;

}
.paragraph #more{
	color: blue;
	font-size: 22px;
	}
	.paragraph #more:hover{
		color: green;
		background:#FFF;
	}
	.pagination{
		display: block;
		font-size: 20px;
		margin-top: 10px;
		text-align: center;
		padding:10px;
	}
	.pagination a{
		background:pink none repeat scroll 0 0;
		text-decoration: none;
		color: #333;
		padding:2px 10px;
		border-radius: 3px;
		margin-left:2px;

	}
	.pagination a:hover{
		background: #FFF;
		color: red;
	}
.footer{
	background:#41DAD8 none repeat scroll;
	width:100%;
	height:60px;

}
.footer h2{
	text-align: center;
	font-size:22px;
	padding-top: 20px;
	overflow: hidden;
	color:blue;

}