*{
	margin:0px;
	padding:0px;
	outline:0px;
	
}
body{
	background: #BED3B4 none repeat scroll 0 0 ;
	line-height:18px;
	font-size:18px;
	font-style:arial;
}
.page_wrap{
	background:url(images/bg.png) repeat fixed 0 0 #fff;
	width:80%;
	margin:0 auto;
	padding:0 2%;
	max-width:1200px;
	height:700px;}
	table{
margin:0px 25%;
height:400px;
width:500px;
		
	}
 input[type="text"],input[type="email"],input[type="password"]{
	 text-align:center;
	 border-radius:7px;
	 height:30px;
	 width:250px;
	 margin-left:10px;
 }
 table td{
color:blue;
font-size:20px;
text-align:center;
 }
 input[type="submit"],input[type="reset"]{
	 height:40px;
	 width:55px;
	 color:blue;
	 border-radius:5px;
	 margin-left:5px;
 }
  input[type="submit"]:hover,input[type="reset"]:hover{
	  color:red;
background:#A6E18F;
  }
  #back a{
	color:blue;
font-size:20px;
text-decoration:none;	
  }
    #back a:hover{
			  color:red;
			background:#A6E18F;
			text-decoration:underline;
	}
	.suggestion{
		margin-top:200px;
	}